# Dependencies and Builds
node_modules/
.dart_tool/
build/
.output/
dist/

# Environments and Secrets
.env
.env.*
!.env.example
*.env

# IDE / Editor configurations
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# CampusPool Documentation / Specs (DO NOT PUSH TO GITHUB)
/docs 

# Logs and diagnostic reports
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
